.intro {
  margin-bottom: 120px;
  overflow: hidden;
  border-bottom: 2px solid $color-white-smoke;

  @include vp-1919 {
    box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
    margin-bottom: 280px;
  }

  @include vp-1365 {
    margin-bottom: 200px;
  }

  @include vp-1023 {
    margin-bottom: 120px;
  }

  @include vp-767 {
    padding-bottom: 60px;
    margin-bottom: 0;
    box-shadow: unset;
    border-bottom: none;
  }
}

.intro__inner {
  min-height: 835px;
  position: relative;
  display: flex;

  @include vp-1919 {
    min-height: 796px;
  }

  @include vp-1365 {
    min-height: 631px;
  }

  @include vp-1023 {
    min-height: 775px;
  }

  @include vp-767 {
    min-height: 100%;
  }
}

.intro__inner .title,
.intro__inner .text-medium {
  margin-bottom: 60px;

  @include vp-1365 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.intro__inner .text-medium span {
  @include vp-1023 {
    display: none;
  }
}

.intro__inner .title {
  @include vp-1365 {
    padding-right: 22px;
  }

  @include vp-767 {
    padding-right: 70px;
    min-height: 52px;
    z-index: 10;
  }
}

.intro__inner .text-medium {
  @include vp-767 {
    padding-right: 115px;
    min-height: 84px;
  }
}

.intro__inner .btn--orange {
  max-width: 412px;

  @include vp-1919 {
    max-width: 342px;
  }

  @include vp-1365 {
    max-width: 290px;
  }

  @include vp-767{
    max-width: 100%;
  }
}

.intro__inner-block {
  display: flex;
  flex-direction: column;
  min-width: 53.7%;
  margin-top: 120px;
  margin-bottom: 80px;

  @include vp-1919 {
    margin-top: 80px;
    margin-bottom: 80px;
    min-width: 60.7%;
  }

  @include vp-1365 {
    margin-bottom: 48px;
    min-width: 61%;
  }

  @include vp-1023 {
    min-width: 52%;
  }

  @include vp-767 {
    margin-top: 60px;
    min-width: 100%;
  }
}

.intro__inner-repairs {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  bottom: 100px;
  right: 75px;
  background: $color-default-white;
  box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
  border-radius: 100px;
  padding: 20px 40px;

  @include vp-1919 {
    bottom: 160px;
    right: -60px;
  }

  @include vp-1365 {
    padding: 11px 23px;
    bottom: 60px;
  }

  @include vp-1023 {
    right: 5px;
    bottom: 100px;
  }

  @include vp-767 {
    width: 100%;
    left: 0;
    right: 0;
    bottom: -20px;
    padding: 11px 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.intro__inner-repairs-title,
.intro__inner-repairs-text {
  margin: 0;
}

.intro__inner-repairs-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  background: linear-gradient(270deg, #FFCC00 -25.99%, #FFA300 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFCC00;

  @include vp-1365 {
    font-size: 28px;
    line-height: 34px;
  }
}

.intro__inner-repairs-text {
  font-size: 20px;
  line-height: 24px;
  max-width: 150px;

  @include vp-1365 {
    max-width: 105px;
    font-size: 14px;
    line-height: 16.8px;
  }
}

.intro__inner-smile {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;

  @include vp-1365 {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.intro__inner-img {
  position: relative;
  min-height: 835px;
  min-width: 810px;

  @include vp-1919 {
    min-height: 796px;
  }

  @include vp-1365 {
    min-height: 631px;
  }

  @include vp-767 {
    max-height: 231px;
    min-height: unset;
  }
}

.intro__inner-img img {
  position: absolute;
  top: 0;
  left: 85px;
  object-fit: cover;

  @include vp-1919 {
    left: 20px;
  }

  @include vp-1365 {
    left: 10px;
  }

  @include vp-767 {
    left: -115px;
  }
}

.intro__button {
  position: relative;
}

.intro__button:before {
  content: "";
  position: absolute;
  height: 15px;
  left: 52px;
  top: 27px;
  width: 8px;
  background-image: url('../img/svg/icon-arrow-right.svg');
  background-repeat: no-repeat;
  z-index: 20;

  @include vp-1919 {
    left: 36px;
    top: 23px;
  }

  @include vp-1365 {
    left: 29px;
    top: 20px;
  }
}
