.modal__inner,
.modal-success__inner {
  display: flex;
  position: fixed;
  top: calc(50% - 295px);
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
  background-color: $color-default-white;
  border-radius: 30px;
}

.modal-success__inner {
  min-height: 350px;
  align-items: center;
  max-width: 580px;
}

.modal__inner {
  max-width: 460px;
}

.modal,
.modal-success {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  z-index: 30;
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity .6s cubic-bezier(.55,0,.1,1), transform .6s cubic-bezier(.55,0,.1,1), visibility .6s cubic-bezier(.55,0,.1,1);
}

.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__data {
  display: flex;
  flex-direction: column;
  max-width: 490px;
  padding: 33px 40px 36px;
  position: relative;
}

.modal__header,
.modal__text {
  margin-top: 0;
  //color: $black;
  text-align: left;
}

.modal__header {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 39px;
  //color: $black;
}

.modal__text {
  font-size: 14px;
  line-height: 17px;
  max-width: 100%;
}

.modal input {
  padding: 16px;
  margin-bottom: 30px;
  min-width: 380px;
  border: 0;
  color: $color-default-black;
  border: 1px solid $color-default-black;
  border-radius: 10px;
  outline: 0;
  transition: 0.3s ease;
}

.modal input::placeholder {
  font-size: 16px;
  line-height: 21px;
}

.modal__button {
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  padding: 14px 45px;
  cursor: pointer;
  margin-bottom: 34px;
  border-radius: 15px;
  height: 50px;
  border: 1px solid $color-default-black;
}

.modal__button:disabled {
  opacity: 0.5;
}

.modal-success__title {
  display: flex;
  align-items: center;
  max-width: 860px;
  flex-direction: column;
  padding: 25px;
}

.modal-success__text {
  font-size: 24px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-success__image {
  width: 40px;
  height: 60px;
  margin-bottom: 20px;
}

.modal__close,
.modal-success__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 25px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s ease;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .modal__close:hover,
  .modal-success__close:hover,
  .modal__close:focus,
  .modal-success__close:focus {
    opacity: 0.5;
  }

  .modal input:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }

  .modal input:focus,
  .modal input:active {
    border: 1px solid $color-orange;
  }
}

.modal__label {
  position: relative;
}


