
.workers-slider {
  display: flex;
}

.workers-pagination.swiper-pagination {
  bottom: -80px;

  @include vp-767 {
    bottom: -60px;
  }
}

.workers-btn.swiper-button-prev:after,
.workers-btn.swiper-button-next:after {
  display: none;
}

.workers-btn {
  border-radius: 300px;
  width: 70px;
  height: 70px;
  border: 1px solid $color-whisper;
  background: $color-default-white;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 525px;
  transition: 0.3s ease;

  @include vp-1919 {
    top: 510px;
  }

  @include vp-1365 {
    width: 56px;
    height: 56px;
    top: 495px;
  }

  @include vp-1023 {
    top: 440px;
  }

  @include vp-767 {
    top: 400px;
    width: 47px;
    height: 47px;
  }
}

.workers-btn svg {
  stroke: $color-default-black;
}

.workers-btn-left {
  left: -25px;

  @include vp-1919 {
    left: -30px;
  }

  @include vp-767 {
    left: 0;
  }
}

.workers-btn-right {
  right: -25px;

  @include vp-1919 {
    right: -30px;
  }

  @include vp-767 {
    right: 0;
  }
}

@media (hover: hover), screen and (min-width: 0\0) {
  .workers-btn:hover svg,
  .workers-btn:focus svg {
    stroke: $color-default-white;
  }

  .workers-btn:hover,
  .workers-btn:focus {
    background-color: $color-default-black;
  }
}

.workers-pagination .swiper-pagination-bullet-active,
.workers-pagination .swiper-pagination-bullet {
  background-color: $color-default-black;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  opacity: 1;
}

.workers-pagination .swiper-pagination-bullet-active {
  outline: 3px solid #000000;
  background-color: $color-default-white;
}

.workers-pagination.swiper-pagination .swiper-pagination-bullet {
  margin: 0 18px;
}
