$white: #ffffff;
$black: #000000;
$red: #ff0000;
$grey: #8a94a6;
$vio: #192b3f;
$dark-blue: #3d5876;
$disabled: #e1e6ed;
$bronze: #c9b8a8;
$medium-blue: #2e4055;
$light-blue: #3b536d;
$input-color: #e1e6ed;
$light-grey: grey;
